/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */

.base64Image {
    max-height: calc(100% - 20px);
    border: 1px solid #e1e6eb;
    box-shadow: 0 0 5px #e1e6eb;
    margin: 10px;
}